footer{
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #04364a;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;

    .center{
        display: flex;
        justify-content: center;
        
        .rrss{
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                width: 25px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}