.item-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    border: 1px solid white;

    .card{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        background-color: white;
        width: 60%;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 5px;

        .main-img{
            border-radius: 5px;
            max-height: 380px;
            min-height: 380px;
        }

        .images{
            display: flex;
            flex-direction: column;
            width: 50%;
            overflow-y: hidden;
        
            .carousel{
                display: flex;
                flex-direction: row;
                justify-content: center;
                overflow-y: hidden;
                gap: 15px
            }

            .selected{
                opacity: 50%;
            }
        }

        .small-img{
            max-width: 150px;
            max-height: 100px;
            cursor: pointer;
            border-radius: 5px;
        }

        .icon{
            width: 25px;
        }

        .details{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .detail{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                .price-icon, .truck-icon{
                    width: 18px;
                }
            }

            .title{

                h1{
                    color: #04364A;
                    display: inline-block;
                    margin-bottom: 0;
                }

                .people-watching{
                    display: flex;
                    align-items: center;
   
                    span{
                        font-size: 14px;
                    }
                }
            }


            .price{
                font-size: 22px;
                font-weight: 500;
                color: #64ccc5; 
            }

            .offer{
                padding: .5rem 1rem;
                border: none;
                border-radius: 5px;
                background-color: #04364A;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 5px;
                height: 40px;
                width: 100%;
                margin-top: 15px;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;
            }
        }

    }

}