.publish-item-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;

    .publish-card{
        background-color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 3rem;
        border-radius: 5px;
        box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);

        h1{
            margin: 0;
            color: #04364a;
        }

        label{
            color: #04364a;
        }

        .input{
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 60px;

        }

        .description{
            height: 100px;

            textarea{
                height: 100%;
                resize: none;
                border: 1px solid rgb(223, 220, 220);
                border-radius: 5px;
                color: #04364a;
                box-sizing: border-box;
                padding: 1rem;
                font-size: 15px;

                &::placeholder{
                    opacity: 30%;
                    padding-left: .1rem ;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }

        .upload-img{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border: 1px solid #04364a;
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            width: 30%;

            img{
                width: 30px;
            }

            span{
                text-transform: uppercase;
                font-weight: 600;
                color: #04364a;
            }

        }

        select{
            height: 60px;
            color: #04364a;
            border: 1px solid rgb(223, 220, 220);
            border-radius: 5px;
        }
        
        input{
            border: 1px solid rgb(223, 220, 220);
            height: 100%;
            padding-left: 1rem;
            color: #176B87;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }
        
        .btn-publish{
            width: 30%;
            margin-top: 2rem;
            background-color: #04364a;
            color: white;
            padding: 1rem;
            filter: drop-shadow(0 0 0.3rem #176B87);
        }
    }
}