
.input-wrapper {
    position: relative;

    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        left: unset;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

}

.selected{
    background: #64CCC5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #64CCC5, #84d8d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #64CCC5, #aad6d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}