
nav{
    background-color: #04364A;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    box-sizing: border-box;
    
    a{
        text-decoration: none;
        color: white;
        &:visited{
            color: white;
        }
    }

    .start{
        display: flex;
        flex-direction: row;
        align-items: center;

        #logo{
            width: 50px;
            height: 50px;
            filter: drop-shadow(0 0 0.5rem #176B87);

            transition: 2s;
            &:hover{
                transform: scale(1.04);
                transform: rotate(360deg);
            }
        }
    }

    .buttons{
        display: flex;
        flex-direction: row;
    }

    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .nav-btn{

        padding: .5rem;
        border-radius: 5px;

        cursor: pointer;
        transition: .5s;
        color: white;

        &:hover{
            background-color: #0c5470;
        }

        img{
            height: 30px;
        }

        span{
            color: white;
        }
    }
    
    ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        margin-right: .5rem;
        right: 0;
        display: none;
        border-radius: 5px;
    }
  
    ul.show {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li:first-child{
        border-radius: 5px 5px 0px 0;
    }

    ul li:last-child{
        border-radius: 0px 0px 5px 5px;
    }
    
    ul li {
        clear: both;
        width: 100%;
        background-color: #0c5470;
        color: white;
        padding: .2rem 1rem;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        transition-duration: 0.5s;

        &:hover{
            opacity: .7;
        }
    }

}