
#card{
    font-family: 'Roboto', sans-serif;
    background-color: #176B87;
    
    border-radius: 5px;
    filter: drop-shadow(0 0 0.4rem #176B87);

    cursor: pointer;
    transition: .5s;

    text-align: center;

    .item-name{
        color: white;
        font-size: 22px;
    }

    #body{
        margin-top: 5px;

        .details{
            text-align: left;
            .property{
                font-weight: lighter;
            }
    
            span{
                color: white;
                font-family: 'Roboto', sans-serif;
            }
        }
    
        img{
            height: 150px;
            border-radius: 5px;
            width: 100%;
        }
    
    }

    button{
        margin-top: 10px;
        background-color: #64ccc5;
        color: white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        padding: .5rem 1rem;
    }

    &:hover{
        transform: scale(1.03);
    }
}